* {
    margin: 20px;
    color: #060E0D;
    background-color: #EEF7FC;
}

h1 {
    font-family: 'Noto Sans', sans-serif;
    color: #67A1E0;
}
body.index {
    font-family: 'Noto Sans', sans-serif;
}
body.school {
    font-family: 'Noto Sans', sans-serif;
}
body.about {
    font-family: 'Noto Sans', sans-serif;
    margin: 7em 20em;
}
div.about {
    font-family: 'Noto Serif', serif;
}

img {
    max-width: 30%;
    height: auto;
}