* {
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #A2ACBD;
    background-color: #3E4756;
}

h1 {
    color: #5f7eaa;
}

body {
    margin: 250px;
}

img {
    max-width: 30%;
    height: auto;
}